.report
{
  @import 'metrics';

  .title
  {
    font-size: 200%;
    font-weight: bold;
  }

  .subtitle
  {
    font-size: 150%;
    font-weight: bold;
  }

  .setting, .option
  {
    font-weight: bold;
    color: #575757;
  }

  .option.hidden
  {
    display: none;
    visibility: hidden;
  }
}
