<div class="metric" id="<%= metric.label.parameterize %>">
  <div class="metric-label"><%= metric.label %></div>
  <div class="metric-data"><%= metric.result %></div>
  <div class="metric-label-small"><%= metric.description %></div>
</div>
